
mining/Gruntfile.js
mining/node_modules
mining/typings

*.sublime-workspace
mining/src/.DS_Store
mining/src/warrior.js
mining/src/utils.js
mining/src/types.d.ts
mining/src/main.js
mining/src/job.terminals.js
mining/src/job.spawn.js
mining/src/job.protector.js
mining/src/goal.js
mining/src/creep.js
mining/src/build.js
